head
  meta(charset="utf-8")
  meta(http-equiv="X-UA-Compatible" content="IE=edge")
  meta(name="viewport" content="width=device-width, initial-scale=1")
  != '\n<!--[if lt IE 9]>'
    script(src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js")
    script(src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js")
  != '\n<![endif]-->\n'
  if icon
    link(rel="icon" href="#{icon}" type="image/x-icon")
  head72

body
  mixin image(src,size)
    img(src="#{src}" alt="null" style="height:#{size}em;width:#{size}em;")
    block
  mixin link(href)
    if href.endsWith(".less")
      link(href="#{href}" rel="stylesheet/less" type="text/css")
    else
      link(href="#{href}" rel="stylesheet")
  mixin script(src)
    - $.getScript(src)
  mixin a(href)
    a(href="#{href}")
      block
  mixin fa
    i(class="fa fa-#{attributes.class}")
    block
  mixin bq
    blockquote
      block
  body72